# Collecting Data: Web Scraping & APIs

In [1]:
import pandas as pd
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.41%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.02%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,5.48%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.84%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,4.52%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.50%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.96%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.22%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.89%
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,NaN,0.98%
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,NaN,7.36%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.27%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,4.17%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.86%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.57%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.43%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.61%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,5.24%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,2.10%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.88%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.13%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.86%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,2.82%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.62%
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,10.29%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.73%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.16%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.79%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.94%

In [2]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [3]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)
const

,Company,Exchange,Symbol,Industry,Date_Added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [4]:
const.Date_Added = pd.to_datetime(const.Date_Added)
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [8]:
import unicodedata
print(const.Symbol)
ticker_list = const.Symbol.to_list()

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

## Loading and Saving Historical Stock Prices

In [10]:
import pandas as pd
import yfinance as yf
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [14]:
prices = yf.download(ticker_list, start = "2000-09-01", end = "2023-09-01")
prices

[*********************100%***********************]  30 of 30 completed

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2000-09-01    0.961528   55.813919   37.188046   35.694145   10.245393
2000-09-05    0.946370   52.938793   38.023273   36.142368   10.451324
2000-09-06    0.885742   49.698574   38.182377   37.690731   10.622944
2000-09-07    0.939739   52.573700   37.744865   38.138969   10.451324
2000-09-08    0.892373   54.718639   38.580097   37.894482   10.382682
...                ...         ...         ...         ...         ...
2023-08-25  178.610001  256.380005  158.320007  223.410004  272.559998
2023-08-28  180.190002  256.549988  159.190002  227.059998  274.790009
2023-08-29  184.119995  259.640015  160.240005  227.250000  280.029999
2023-08-30  187.649994  257.880005  160.169998  228.850006  282.329987
2023-08-31  187.869995  256.339996  157.990005  224.029999  281.130005

                                                                     ...  \
                   CRM       CSCO         CVX        DIS        DOW  ...
Date                                                                 ...
2000-09-01         NaN  47.581413   18.315519  30.175558        NaN  ...
2000-09-05         NaN  45.803070   18.415964  29.885410        NaN  ...
2000-09-06         NaN  44.588593   18.884743  30.949297        NaN  ...
2000-09-07         NaN  45.976566   18.924915  32.109894        NaN  ...
2000-09-08         NaN  44.328362   18.576696  31.142725        NaN  ...
...                ...        ...         ...        ...        ...  ...
2023-08-25  209.470001  55.700001  159.119995  83.360001  53.295967  ...
2023-08-28  211.720001  56.200001  160.210007  84.160004  53.908112  ...
2023-08-29  211.960007  56.560001  159.960007  84.400002  54.540005  ...
2023-08-30  215.039993  56.810001  160.179993  84.279999  54.750000  ...
2023-08-31  221.460007  57.349998  161.100006  83.680000  54.560001  ...

             Volume                                                   \
                MRK       MSFT       NKE        PG      TRV      UNH
Date
2000-09-01  3800572   37629800   7378400   4314000   559600  4242400
2000-09-05  6167690   50755200   4739200   4975200   490200  3391200
2000-09-06  4995292   62960800   7449600  11835000   675100  6530400
2000-09-07  5318286  111711200  20890400   5867800   904300  4832800
2000-09-08  5041299   56709600  14437600   6683600  2714000  5390400
...             ...        ...       ...       ...      ...      ...
2023-08-25  4839100   21684100   7290600   3541500   810400  1923500
2023-08-28  4335600   14808500   6006600   3614700   680400  1344500
2023-08-29  5673100   19284600   8641600   4034600   697200  2113700
2023-08-30  4785000   15222100   4822100   3712200   825100  2283400
2023-08-31  9212000   26411000   7046200   5451400  1436900  4927700


                    V        VZ       WBA      WMT
Date
2000-09-01        NaN   4301125   1524900  7661500
2000-09-05        NaN   4340488   1610200  8031000
2000-09-06        NaN   3898156   1600100  8310400
2000-09-07        NaN   3991114   2294400  8400600
2000-09-08        NaN   4889235   2104800  7380600
...               ...       ...       ...      ...
2023-08-25  3541500.0  14912100  10937800  4089000
2023-08-28  3741500.0  16050400   8282300  3957000
2023-08-29  3975600.0  28782800   6892600  4234100
2023-08-30  4573300.0  15021400   5883700  3655900
2023-08-31  5532600.0  24333200  10794500  6527600

[5785 rows x 180 columns]

In [15]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5785 entries, 2000-09-01 to 2023-08-31
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(153), int64(27)
memory usage: 8.0 MB

In [16]:
prices = prices.loc[:,"Close"].copy()
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5785 entries, 2000-09-01 to 2023-08-31
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    5785 non-null   float64
 1   AMGN    5785 non-null   float64
 2   AXP     5785 non-null   float64
 3   BA      5785 non-null   float64
 4   CAT     5785 non-null   float64
 5   CRM     4832 non-null   float64
 6   CSCO    5785 non-null   float64
 7   CVX     5785 non-null   float64
 8   DIS     5785 non-null   float64
 9   DOW     1122 non-null   float64
 10  GS      5785 non-null   float64
 11  HD      5785 non-null   float64
 12  HON     5785 non-null   float64
 13  IBM     5785 non-null   float64
 14  INTC    5785 non-null   float64
 15  JNJ     5785 non-null   float64
 16  JPM     5785 non-null   float64
 17  KO      5785 non-null   float64
 18  MCD     5785 non-null   float64
 19  MMM     5785 non-null   float64
 20  MRK     5785 non-null   float64
 21  MSFT    5785 non-null   float64
 22  NKE     5785 non-null   float64
 23  PG      5785 non-null   float64
 24  TRV     5785 non-null   float64
 25  UNH     5785 non-null   float64
 26  V       3891 non-null   float64
 27  VZ      5785 non-null   float64
 28  WBA     5785 non-null   float64
 29  WMT     5785 non-null   float64
dtypes: float64(30)
memory usage: 1.4 MB

In [17]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2000-09-01,1.132813,76.437500,51.150345,54.750000,18.656250,NaN,68.562500,42.734375,38.473499,NaN,...,66.018608,35.093750,5.109375,30.687500,46.812500,11.742188,NaN,39.626408,33.437500,48.750000
2000-09-05,1.114955,72.500000,52.299175,55.437500,19.031250,NaN,66.000000,42.968750,38.103561,NaN,...,64.065483,35.062500,5.210938,31.250000,47.125000,11.796875,NaN,39.120541,33.937500,49.750000
2000-09-06,1.043527,68.062500,52.518002,57.812500,19.343750,NaN,64.250000,44.062500,39.459999,NaN,...,62.977100,34.718750,5.000000,31.718750,48.312500,11.562500,NaN,38.333633,33.562500,50.000000
2000-09-07,1.107143,72.000000,51.916229,58.500000,19.031250,NaN,66.250000,44.156250,40.939751,NaN,...,64.169846,35.031250,4.828125,31.312500,48.375000,11.476563,NaN,39.232956,33.625000,51.000000
2000-09-08,1.051339,74.937500,53.065063,58.125000,18.906250,NaN,63.875000,43.343750,39.706627,NaN,...,64.438217,34.656250,4.890625,31.718750,49.312500,11.312500,NaN,39.851238,35.187500,52.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-25,178.610001,256.380005,158.320007,223.410004,272.559998,209.470001,55.700001,159.119995,83.360001,53.980000,...,110.209999,322.980011,98.839996,153.539993,161.639999,489.119995,242.570007,33.349998,25.260000,157.820007
2023-08-28,180.190002,256.549988,159.190002,227.059998,274.790009,211.720001,56.200001,160.210007,84.160004,54.599998,...,108.930000,323.700012,99.629997,153.779999,160.830002,491.279999,243.830002,33.549999,25.170000,158.720001
2023-08-29,184.119995,259.640015,160.240005,227.250000,280.029999,211.960007,56.560001,159.960007,84.400002,55.240002,...,109.989998,328.410004,101.769997,153.869995,161.279999,492.829987,245.339996,34.689999,25.540001,160.050003
2023-08-30,187.649994,257.880005,160.169998,228.850006,282.329987,215.039993,56.810001,160.179993,84.279999,54.750000,...,110.209999,328.790009,102.099998,154.039993,161.320007,491.529999,246.229996,34.639999,25.600000,161.199997
2023-08-31,187.869995,256.339996,157.990005,224.029999,281.130005,221.460007,57.349998,161.100006,83.680000,54.560001,...,108.980003,327.760010,101.709999,154.339996,161.229996,476.579987,245.679993,34.980000,25.309999,162.610001

In [18]:
prices.to_csv("const_prices.csv")

In [19]:
dji = yf.download("^DJI", start = "2000-09-01",  end = "2023-09-01")
dji

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-09-01,11219.540039,11313.599609,11219.540039,11238.780273,11238.780273,125140000
2000-09-05,11221.759766,11301.669922,11184.769531,11260.610352,11260.610352,174500000
2000-09-06,11253.580078,11401.190430,11253.209961,11310.639648,11310.639648,224760000
2000-09-07,11316.009766,11323.870117,11223.240234,11259.870117,11259.870117,222220000
2000-09-08,11261.719727,11261.719727,11191.049805,11220.650391,11220.650391,181620000
...,...,...,...,...,...,...
2023-08-25,34217.058594,34441.910156,34029.218750,34346.898438,34346.898438,257440000
2023-08-28,34441.640625,34652.910156,34441.640625,34559.980469,34559.980469,224640000
2023-08-29,34531.121094,34864.421875,34531.121094,34852.671875,34852.671875,262550000
2023-08-30,34847.800781,35025.570312,34811.738281,34890.238281,34890.238281,236070000
2023-08-31,34909.089844,35070.210938,34719.769531,34721.910156,34721.910156,341900000

In [20]:
dji.to_csv("dji.csv")